.container{
    width: 100%;
    height: 100%;
    // overflow-y: hidden;

    .backGround__image{
        width: 100vw;
        height: 30vh;
       background-size: cover;
        background-repeat: no-repeat;
       

    }
    
    .backGround__empty{
        width: 100vw;
        height: 75vh;
        background-color: $veryLightGray;
    }
 
}

    .dark{
        .backGround__empty{
            background-color: $veryDarkBlue;
        }
    }

