.todo__container {
    position: relative;
    z-index: 1;
    width: 80%;
    max-width: 80vw;
   
    margin: 13% auto;
    .todo__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: white;
        .todo__title__title{
            letter-spacing: 10px;
            font-size: 8vw;
        }
        .todo__title__icon{
            font-size: 8vw;
        }
    }
}